*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
  background-image: url(../img/natural-default-pattern.png);
}

.container{
  width: 1000px;
  margin: auto;

}

header{
  background-color: white;
}

.header-top{
  height: 300px;
  padding: 10px;
}

.header-image{
  height: calc(300px - 20px);
  position: relative;
  background-image: url(../img/natural-default-header.jpg);
  background-position: center;
}

.container-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.container-logo h1{
  display: inline-block;
  font-size: 50px;
  border: 5px solid #fff;
  padding: 0 10px;
  margin-bottom: 30px;
}

nav{
  height: 50px;
  background-color: #514741;
}

.menu{
  list-style: none;
  text-align: center;
}

.menu li:hover{
  background-color: #302B27;
}

.menu li{
  display: inline-block;
  font-size: 15px;
  padding: 0 10px;
}

.menu a{
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

main{
  height: 400px;
  background-color: green;
  margin: 1% 0;
}

main::after{
  content: "";
  display: block;
  clear: both;
}

.clm-left{
  float: left;
  height: 75%;
  width: 24%;
  background-color: #DA70D6;
}

.clm-center{
  float: left;
  height: 100%;
  width: 50%;
  background-color: #8B008B;
  margin: 0 1%
}
.clm-right{
  float: left;
  height: 100%;
  width: 24%;
  background-color: #DA70D6
}

.part{
  height: 47%;
  width: 100%;
  background-color: violet;
  margin-bottom: 2%;
}

footer{
  height: 100px;
  background-color: lightblue;
}
